.container-zone {
   position: relative;
    padding: 10px;
    min-height: 200px;
    margin-bottom: 30px;
}

.color-info {
    margin-bottom: 20px;
}   

.zone-link:hover {
    text-decoration: none;
}

.zone-background {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: -1;
   overflow: hidden;
   text-align: center;
   font-size: 50px;
   color: white;
   background-color: #D9E5EE;
}

.container-refresh {
    margin-bottom: 20px;
}