<div class="sidebar sidebar-default sidebar-nav">
	<a (click)="toggleOpen(actionLink)" *ngFor="let actionLink of actionLinks">
		<span class="fa {{actionLink.icon}}" [ngClass]="{'active': activeActionLink === actionLink}"></span>
	</a>
</div>

<div class="sidebar sidebar-inverse sidebar-left" [ngClass]="{'sidebar-open': activeActionLink}">
	<div class="sidebar-left-container" *ngIf="activeActionLink">
		<app-profile *ngIf="activeActionLink.action === action.profile" (onUpdate)="toggleOpen(activeActionLink)"></app-profile>
		<app-favorites *ngIf="activeActionLink.action === action.favorites"></app-favorites>
		<app-search *ngIf="activeActionLink.action === action.search"></app-search>
		<app-settings *ngIf="activeActionLink.action === action.settings"></app-settings>
	</div>
</div>