<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<form novalidate>
			<div class="form-group">
				<label for="email">Email</label>
				<input [(ngModel)]="profile.email" class="form-control" id="email" type="text" name="profile.email">
			</div>
			<div class="form-group">
				<label for="firstName">Förnamn</label>
				<input [(ngModel)]="profile.firstName" class="form-control" id="firstName" type="text" name="profile.firstName">
			</div>
			<div class="form-group">
				<label for="lastName">Efternamn</label>
				<input [(ngModel)]="profile.lastName" class="form-control" id="lastName" type="text" name="profile.lastName">
			</div>
			<div class="form-group">
				<button class="btn btn-primary" (click)="updateProfile()">Uppdatera</button>
				<button (click)="goBack()" type="button" class="btn btn-default">Tillbaka</button>
			</div>
		</form>
	</div>
</div>