<div *ngIf="isBusy">
	<app-loading></app-loading>
</div>
<div *ngIf="!isBusy">
	<h5 class="action-title">Profil
		<div class="pull-right">
			<a [ngClass]="{'update-disabled': form.pristine}" (click)="updateEmployee()"><span *ngIf="isUpdating" class="fa fa-spinner fa-spin"></span><span class="fa fa-check"></span></a>
			<a (click)="authService.logout()"><span class="fa fa-sign-out"></span></a>
		</div>
	</h5>
	<hr>
	<form [formGroup]="form">
		<div class="form-group">
			<label for="firstName">Förnamn</label>
			<input formControlName="firstName" class="form-control input-sm" id="firstName" type="text">
		</div>
		<div class="form-group">
			<label for="lastName">Efternamn</label>
			<input formControlName="lastName" class="form-control input-sm" id="lastName" type="text">
		</div>
		<div class="form-group">
			<label>Avdelning</label>
			<div *ngFor="let department of departments">
				<label><input formControlName="departmentId" type="radio" [value]="department._id"> {{department.name}}</label>
			</div>
		</div>
		<div class="form-group">
			<label for="isHiding">Dölj på kartan</label>
			<input formControlName="isHiding" id="isHiding" type="checkbox">
		</div>
	</form>
</div>